.welcome {
  @apply h-80 flex flex-col justify-center px-4 md:px-20 select-none;

  background-image: url('@/assets/img/banner.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  @media (min-width: 1280px) {
    height: 54.75rem;
  }

  &__title {
    @apply font-brigada text-white;
  }

  &__quote {
    @apply mt-8 text-white;
  }
}
